[merge]
	tool = vimdiff
	ff = false
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	lg1 = log --graph --all --format=format:'%C(red)%h%C(reset) - %C(green)(%ar)%C(reset) %C(blue)%s%C(reset) %C(white)- %an%C(reset)%C(yellow)%d%C(reset)' --abbrev-commit --date=relative
	lg2 = log --graph --all --format=format:'%C(red)%h%C(reset) - %C(green)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n''          %C(blue)%s%C(reset) %C(white)- %an%C(reset)' --abbrev-commit
	lg = !"git lg1"
[color]
	ui = true
[core]
	pager = less -FRSX
	autocrlf = input
[include]
	path = .gitconfig_individual
